.App {
  padding: 20px;
  
}

.App-link {
  color: #61dafb;
}


.text-center{
  text-align: center;
  align-items: center;
}

.button-width{
  width: 80%;
}

.pokemon-sprite{
  width: 100%;
  min-width: 260px;
  max-width: 400px;
}

.mb{
  margin-bottom: 1em;
}